- hosts: all
  become: true

  tasks:
    # --- system ---
    - import_tasks: tasks/system.yml      # apt, user, sudo, ssh, ufw, fail2ban
    - import_tasks: tasks/docker.yml      # docker install + user group

    # --- app files ---
    - import_tasks: tasks/project.yml     # create dirs, upload compose + .env
    - import_tasks: tasks/source_db.yml   # upload migrations + faker
    - import_tasks: tasks/spark.yml       # spark config
    - import_tasks: tasks/trino.yml       # trino config
    - import_tasks: tasks/airflow.yml     # airflow dirs

    # --- deploy ---
    - import_tasks: tasks/stack.yml       # pull images, down, up

  handlers:
    - import_tasks: tasks/handlers.yml

- import_playbook: tasks/connectors.yml




  handlers:


- import_playbook: ./tasks/connectors.yml