spark.sql.extensions                   org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
spark.sql.catalog.demo                 org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.demo.type            rest
spark.sql.catalog.demo.uri             http://iceberg-rest:8181
spark.sql.catalog.demo.io-impl         org.apache.iceberg.aws.s3.S3FileIO
spark.sql.catalog.demo.warehouse       s3://warehouse/
spark.sql.catalog.demo.s3.endpoint     http://minio:9000
spark.sql.catalog.demo.s3.path-style-access true
spark.sql.defaultCatalog               demo
# Важливо для нативного S3 драйвера
spark.hadoop.aws.region                us-east-1