connector.name=iceberg
iceberg.catalog.type=rest
iceberg.rest-catalog.uri=http://iceberg-rest:8181
iceberg.rest-catalog.security=NONE

fs.native-s3.enabled=true
s3.endpoint=http://minio:9000
s3.path-style-access=true
s3.aws-access-key={{ minio_access_key | default('minio') }}
s3.aws-secret-key={{ minio_secret_key | default('minio123') }}
s3.region=us-east-1